<h1>Create New Staffing Request</h1>

<%= form_for(@staffing_request) do |f| %>

	<% if @staffing_request.errors.any? %>
	  <div id="error_explanation">
	    <div class="alert alert-error">
	      The form contains <%= pluralize(@staffing_request.errors.count, "error") %>.
	    </div>
	    <ul>
	    <% @staffing_request.errors.full_messages.each do |msg| %>
	      <li>* <%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= f.label :job_code %>
	<%= f.text_field :job_code %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>

<%= link_to 'Back', staffing_requests_path %>
