<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<p id="notice"><%= notice %></p>
<p>Current user : <%= current_user %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h3>Open Requests</h3>
<% if @user.staffing_requests.any? %>
	<%= render @user.staffing_requests %>
<% else %>
	No open requests
<% end %>


